<html>
    <head>
        <meta charset="utf-8">
        <title>API Tests</title>
        <link rel="stylesheet" href="/test/resources/qunit-1.12.0.css" />
    </head>
    <body>

        <script src="/client_components/jquery/jquery.js"></script>
        <div id="urlString" style="visibility:hidden"><%=urlString%></div>

        <div id="qunit"></div>
        <div id="qunit-fixture"></div>
        <script src="/test/resources/qunit-1.12.0.js"></script>
        <script src="/test/test.js"></script>
        <script src="/test/userTest.js"></script>
        <script src="/test/testBet.js"></script>
    </body>
</html>