#bet-container {
    min-height: 900px;
    background: white;
    margin-left: 120px;
    padding: 20px;
}

.userInfo-container {
    padding: 30px;
    margin-top: 40px;

}

.bet-cat-title, .request-monitor-title, .request-friend-title {
	height: 30px;
	font-weight: 700;
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.request-monitor-title, .request-friend-title {
    font-size: 17px;
}

.single-bet-container{
    margin-top: 110px;
    top :300px;
    width: 100%;
    text-align: center;
    height: 100%;
    font-size: 20px;
    font-weight: 700;
}

.bet-description, .bet-amount, .bet-status, .bet-monitors, .bet-author, .bet-endDate, .bet-frequency, .bet-startDate, .request-from{
    margin-bottom: 10px;
    width: 100%;
}

.user-username {
    font-size: 24px;
    margin-top: 30px;
    font-weight: 700;
}

.other-username {
    font-size: 24px;
    font-weight: 700;
    color: steelBlue;
    display: inline-block;
}

.no-bets, .no-requests{
    font-weight: 700;
    font-size: 20px;   
    color: steelBlue;
    text-align: center;
}

.userInfo-box {
    display: inline-block;
    padding-bottom: 30px;
    min-height: 320px;
}

.bets, .no-bets {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.single-bet {
    width: 250px;
    height: 230px;
    margin-right: 20px;
    display: inline-block;
    background-color: #F5F5F5;
    padding: 20px;
    border-radius: 10px;

}

.bets {
    width: 1000px;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}

.bet-detail-link {
    font-size: 22px;
    text-decoration: underline;
    color: steelBlue;
    margin-top: 20px;
    cursor: pointer;
}

.bet-info, .bet-monitoring-info {
    font-size: 18px;
    font-weight: 700;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    height: 100%;
    overflow-x: auto;
}

.bet-single-box {
    top: 100px;
}

.bet-title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
    color: steelBlue;
}
.bet-box{
    margin: 10px;
    padding:10px;
    max-width:800px;
    border:solid black 1px;
    border-radius:5px; 
    text-align: left;
    word-break:break-all;
    margin-left: auto;
    margin-right: auto;;
}

.milestone{
    display:inline-block;
    width:140px;
    padding:5px;
    margin: 10px;
    border:solid black 1px;
    font-size: 15px;
    text-align: center;
}
.milestone_grey{
    background-color: #A8A8A8;
}

.milestone_green{
   background-color: #40D6A4;
}

.milestone_red{
   background-color: #EB6767;
}

.milestone_orange{
   background-color: #F7994D;
}
.milestone_blue{
    background-color: #9196E6;
}
.milestone_dark_grey{
    background-color: #70717D;
}
.milestone_white{
    background-color: #FFFFFF;
}
.request-box{
    border: black solid 1px;
    border-radius: 5px;
}
.betErr {
    color: red;
    text-align: center;
    height: 20px;
    width: 100%;
}

