
.form-group {
    width:500px;
}

#edit-page {
	margin-top:110px;
}

.edit {
	display: inline-block;
}
/*.edit-form {
    margin: 50px;
    margin-top: 400px;
}*/

.edit-resolve .edit-date{
    width:500px;
}

.edit-freq {
	width: 100px;
}

.edit-dollar {
	width: 100px;
}

.edit-label{
	display: inline-block; 
	width: 200px; 
	text-align: left;
}

.edit-friends-label{
	min-width: 100px;
	text-align: center;
}
