body {
	background: none;
	font-family: "Noto Sans", sans-serif;
}

/*html {
  background: url(../images/loginbg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/

h1 {
	font-size: 60px;
	color: #ffffff; 
}

button {
	border-radius: 2px !important;
}

.welcome-container {
	position: relative;
	width: 100%;
	margin-left: auto;
	margin-right: auto;

}

.form-panel {
	width: 300px;
	position: absolute;
	top: 100px;
	right: 100px;
	margin-bottom: 100px;
}

.loginpage-panel {
	border-radius: 2px;
	background-color: rgba(255, 255, 255, .8);
	padding: 20px;
}

.experiment {
	background-color: #FF0066;
	width:50%;
	float:left;
	text-align:center;
	margin-left: auto;
	margin-right: auto;
}

.experiment2 {
	background-color: #CC99FF;
	width:50%;
	float:left;
	text-align:center;
	margin-left: auto;
	margin-right: auto;
}