.form-group {
    width:500px;
}

#newbet-page {
	margin-top:110px;
	margin : 0 auto;
}

#main-text-color{
	color: #001A66;
}

#newbet-instructions-container{
	margin-top: 180px;
	margin-bottom: 30px;
}

#newbet-instruction{
	background-color: #E0EBFF;
	padding: 15px;
	border-radius: 25px;
	display: inline-block;
	width: 500px;
	font-size: 15px;
	font-weight: 700;
	color: steelBlue;
	vertical-align: top;
	text-align: left;
	margin-bottom: 30px;
	margin-right: 20px;
}

#newbet-rules{
	background-color: #E0EBFF;
	padding: 15px;
	border-radius: 25px;
	display: inline-block;
	width: 500px;
	font-size: 15px;
	font-weight: 700;
	color: steelBlue;
	vertical-align: top;
	text-align: left;
}

.newbet {
	display: inline-block;
}
/*.newbet-form {
    margin: 50px;
    margin-top: 400px;
}*/

.newbet-resolve .newbet-date{
    width:500px;
}

.newbet-freq {
	width: 100px;
}

.newbet-dollar {
	width: 100px;
}

.newbet-label{
	display: inline-block; 
	width: 200px; 
	text-align: left;
}

.newbet-friends-label{
	min-width: 100px;
	text-align: center;
}
