body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.single-checkoff-container{
    margin-top: 110px;
    top :300px;
    width: 100%;
    text-align: center;
    height: 100%;
    font-size: 20px;
    font-weight: 700;
}

.money-track {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.no-pending {
    min-width: 150px;
    margin-bottom: 40px;
}

.today-milestone  {
    min-width: 120px;
    margin-bottom: 30px;
}

.pending-milestone {
    min-width: 120px;
    margin-bottom: 30px;
}

.msg {
    color: blue;
}

.err {
    color: red;
}
