<!-- page -->

<div ng-controller="BetPageController" id="betPage-container">
    <ng-include src="'partials/navbar.html'"></ng-include>
        <div class="single-bet-container">
            <div class="bet-Title">Bet Detail:</div>
            <div class="bet-description">description: {{bet.description}}</div>
            <div class="bet-status">status: {{bet.status}}</div>
            <div class="bet-startDate">startDate: {{bet.startDate}}</div>
            <div class="bet-endDate">endDate: {{bet.endDate}}</div>
            <div class="bet-frequency">frequency: {{bet.frequency}}</div>
            <div class="bet-amount">amount: ${{bet.amount}}</div>
            <div class="bet-monitors">monitors: {{bet.monitors.length}}</div>
        </div>
</div>