<!-- page -->

<div ng-controller="CheckoffPageController" id="betPage-container">
    <ng-include src="'partials/navbar.html'"></ng-include>
    <div class="single-checkoff-container">
        <div class="msg" ng-if="msg">{{msg}}</div>
        <div class="err" ng-if="err">{{err}}</div>
        Today's checkoff: <br>
        <div class="today-milestone" ng-if="!empty">
            {{todayDate}}
            <button type="Checkoff" class="btn btn-default" ng-click="check(today._id)">Check</button>
            <button type="Checkoff" class="btn btn-default" ng-click="fail(today._id)">Fail</button>
        </div>
        <div class="no-pending" ng-if="empty">No milestones to checkoff</div>

        Pending checkoffs: <br> 
        <div class="pending-milestone" ng-repeat="milestone in pending">
            {{milestone.date}}
            <button type="Checkoff" class="btn btn-default" ng-click="check(milestone._id)">Check</button>
            <button type="Checkoff" class="btn btn-default" ng-click="fail(milestone._id)">Fail</button>
        </div>            
        <div class="no-pending" ng-if="pending.length == 0">No milestones to checkoff</div>

    </div>
</div>