<div ng-controller="EditBetPageController" id="edit-container" >
    
  <script src="javascripts/ui/datepicker.js"></script>
  
    <ng-include src="'partials/navbar.html'"></ng-include>
    
    <div id="edit-page">
        <h2>Make a New Bet</h2>
        <form class="edit-form" novalidate ng-submit="editSubmit()" >
            <!-- add clear button -->
            
            <div class="form-group">
                <label class="edit-label">I resolve to </label>
                <input type="text" class="edit form-control edit-resolve" ng-model="editForm.description" placeholder="go to gym everyday"></input>
            </div>
            <div class="form-group">
                <label class="edit-label">Starting </label>
                <input type="text" class="edit form-control edit-date datepicker" ng-model="editForm.startDate"></input>
            </div>
            <div class="form-group">
                <label class="edit-label">Ending </label>
                <input type="text" class="edit form-control edit-date datepicker" ng-model="editForm.endDate"></input>
            </div>
            <div class="form-group">
                <label class="edit edit-label">Every</label>
                <input type="number" min="1" step="1" class="edit edit-freq" ng-model="editForm.frequency"></input> Days
            </div>
            <div class="form-group">
                <label class="edit edit-label">and I am willing to bet </label>
                <input type="number" min="3" step="1" class="edit edit-dollar" ng-model="editForm.amount"></input> Dollars
            </div>
            <div class="form-group" >
                <label class="edit-label">Add Friends to Monitor You</label>
                <select class="edit-friends-label" name="editForm.monitors" ng-model="editForm.monitors" ng-options="friend.username for friend in friends" ng-multiple="true" multiple>
                </select>
            </div>
            <div id="submit-button-wrapper">
                <button id="submit-button" ng-click="submit()" class="btn btn-primary" >Make My Bet</button>
            </div>
        </form>
    </div>
    
</div>