<div ng-controller="InvitePageController" class="invite-container">
    <ng-include src="'partials/navbar.html'"></ng-include>
    <div id="forms">
        <div class="request-panel">
            <div class="errNot">
                <div class="err" ng-if="requestErr">{{requestErr}}</div>
                <div class="msg" ng-if="requestMsg">{{requestMsg}}</div>
            </div>
            <!-- Signup form -->
            <div id="request-container">
                <form novalidate ng-submit="sendByUsername()">
                <h4>Send a friend request.</h4>
                    <div class="form-group">
                        <input name="friendUsername" ng-model="requestForm.friendUsername" class="form-control" id="friendUsername" placeholder="Put friend's username">
                    </div>
                    <button type="submit" class="btn btn-default">Send Request</button>
                </form>
            </div>

            <div id="request-container">
                <form novalidate ng-submit="sendByEmail()">
                <h4>Don't know friend's username?</h4>
                    <div class="form-group">
                        <input name="friendEmail" ng-model="requestForm.friendEmail" class="form-control" id="friendEmail" placeholder="Put friend's email">
                    </div>
                    <button type="submit" class="btn btn-default">Send Request</button>
                </form>
            </div>
        </div>

        <div class="invite-panel" >
            <!-- Signup form -->
            <div id="invite-container">
                <div class="errNot">
                    <div class="msg" ng-if="inviteMsg">{{inviteMsg}}</div>
                    <div class="err" ng-if="inviteErr">{{inviteErr}}</div>
                </div>
                <form novalidate ng-submit="invite()">
                <h4>Invite a friend to join ibetcha.</h4>
                    <div class="form-group">
                        <input name="friendEmail" ng-model="inviteForm.friendEmail" class="form-control" id="friendEmail" placeholder="Email">
                    </div>
                    <button type="submit" class="btn btn-default">Invite</button>
                </form>
            </div>

        </div>
    </div>
</div>
