<!-- Welcome page with login and signup forms -->

<div ng-controller="LoginPageController" class="welcome-container">
    <div id="intro-text" class="main-blocks">
        <h2><b> You are in Ibetcha.</b></h2>
        <h2><b> You are welcome here.</b></h2>
    </div>
    <div id="loginpage-forms" class="form-panel main-blocks">
        <!-- Login form -->

        <div class="loginpage-panel" id="login-container">
            <form novalidate ng-submit="login()" ng-controller="LoginPageController">
            <h4>Login to Ibetcha</h4>
                <div class="form-group">
                    <input type="username" name="username" class="form-control" id="username" ng-model="loginForm.username" placeholder="Username">
                </div>
                <div class="form-group">
                    <input type="password" name="password" class="form-control" id="password" ng-model="loginForm.password" placeholder="Password">
                </div>
                <button type="submit" class="btn btn-default">Login</button>
            </form>

        </div>

        <!-- Signup form -->
        <div class="loginpage-panel" id="signup-container">
            <form novalidate ng-submit="signup()">
            <h4>New to Ibetcha? Sign up.</h4>
                <div class="form-group">
                    <input name="username" ng-model="signupForm.username" class="form-control" id="username" placeholder="Enter a Username">
                </div>
                <div class="form-group">
                    <input type="password" ng-model="signupForm.password" name="password" class="form-control" id="password" placeholder="Password">
                </div>
                <div class="form-group">
                    <input name="email" ng-model="signupForm.email" class="form-control" id="email" placeholder="Email">
                </div>
                <button type="submit" class="btn btn-default">Sign up</button>
            </form>
        </div>

    </div>
</div>
