<!-- page -->

<div ng-controller="MonitorRequestPageController" id="monitorPage-container">
    <ng-include src="'partials/navbar.html'"></ng-include>
        <div class="single-monitor-request" ng-repeat="request in requests">
            <div class="request-author">Request Author: {{request.from.username}}</div>
            <div class="bet-description">Bet Description: {{request.bet.description}}</div>
            <div class="bet-amount">amount: ${{request.bet.amount}}</div>
            <button id="submit-button" ng-click="accept(request._id)" class="btn btn-primary" >Accept</button>
            <button id="submit-button" ng-click="reject(request._id)" class="btn btn-primary" >Reject</button>
        </div>
</div>