<div class="ibetcha-navbar" ng-controller="NavbarController">
    <div class="m-navbar-button" id="m-navbar-home-button" ng-click="home()">
        <i class="m-navbar-icon fa fa-home"></i>
        <div class="m-navbar-text">Home</div>
        <i class="m-navbar-arrow fa fa-caret-down"></i>
    </div>
    <div class="m-navbar-button" ng-show="loggedIn" id="m-navbar-makebet-button" ng-click="newbet()">
        <i class="m-navbar-icon fa fa-th-list"></i>
        <div class="m-navbar-text">Make a Bet</div>
        <i class="m-navbar-arrow fa fa-caret-down"></i>
    </div>
    <div class="m-navbar-button" ng-show="loggedIn" id="m-navbar-invite-button" ng-click="invite()">
        <i class="m-navbar-icon fa fa-plus"></i>
        <div class="m-navbar-text">Send a Friend Request / Invite a Friend</div>
        <i class="m-navbar-arrow fa fa-caret-down"></i>
    </div>
    <div class="m-navbar-button" ng-show="loggedIn" id="m-navbar-logout-button" ng-click="logout()">
        <i class="m-navbar-icon fa fa-sign-out"></i>
        <div class="m-navbar-text">Logout</div>
        <i class="m-navbar-arrow fa fa-caret-down"></i>
    </div>
</br>
</div>