<!-- page -->

<div ng-controller="ProfilePageController" id="home-container">
    <ng-include src="'partials/navbar.html'"></ng-include>
        <div class="err" ng-if="err">{{err}}</div>
        <div class="userInfo-container">
            <div class="user-username">Welcome to <p class="other-username">{{userInfo.username}}</p>'s Profile
            </div>
            <div class = "friendUser" ng-if="notMyFriend">
                <button id="submit-button" ng-click="sendRequest(userInfo.username)" class="btn btn-primary" > Add friend</button>
            </div>
            <div class="userInfo-box">
                <div class="bet-cat-title">Bets</div>

                <div class="no-bets" ng-if="userInfo.bets.length == 0">User doesn't have any bets.</div>
                <div class="bets" ng-if="userInfo.bets.length != 0">
                    <div class="single-bet" ng-repeat="bet in userInfo.bets">
                        <div class="bet-info">
                            <div class="bet-description">description: {{bet.description}}</div>
                            <div class="bet-status">status: {{bet.status}}</div>
                            <div class="bet-amount">amount: ${{bet.amount}}</div>
                            <div class="bet-monitors">monitors: {{bet.monitors.length}}</div>
                            <div class="bet-detail-link" ng-click="detail(bet._id, 'user')"><i class="fa fa-star">Detail</i></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>